/* Clear CCSTheme */
BODY, TABLE, TH, TR, TD, UL, OL, LI, P, FONT, A, BLOCKQUOTE, LABEL { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 13px; border-left-width: 20px; }
.ClearPageBODY{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 13px; }
.ClearFormTABLE{ background-color: #DEDBDE; }
.ClearFormHeaderFont{ color: #000000; font-size: 16px; font-weight: bold; }
.ClearFieldCaptionTD{ background-color: #EDEDED; color: #000000; font-size: 13px; font-weight: bold; }
.ClearAltDataTD{ background-color: #FFFFFF; color: #000000; font-size: 13px; }
.ClearColumnTD{ background-color: #E7E7E7; color: #000084; font-size: 13px; font-weight: bold; }
.ClearDataTD{ background-color: #F7F7F7; color: #000000; font-size: 13px; }
.ClearErrorDataTD{ background-color: #F7F7F7; color: #FF0000; font-size: 13px; font-weight: bold; }
.ClearSeparatorTD{ height: 2px; background-color: #DEDBDE; }
.ClearFooterTD{ background-color: #E7E7E7; color: #000084; font-size: 13px; font-weight: bold; }
a.ClearSorterLink:link,a.ClearSorterLink:visited{ color: #000084; font-size: 13px; font-weight: bold; text-decoration: underline; }
a.ClearSorterLink:hover,a.ClearSorterLink:active{ color: #FF0000; font-size: 13px; font-weight: bold; text-decoration: none; }
a.ClearDataLink:link,a.ClearDataLink:visited{ color: #000084; font-size: 13px; text-decoration: underline; }
a.ClearDataLink:hover,a.ClearDataLink:active{ color: #FF0000; font-size: 13px; text-decoration: none; }
a.ClearNavigatorLink:link,a.ClearNavigatorLink:visited{ color: #000084; font-weight: bold; font-size: 13px; text-decoration: underline; }
a.ClearNavigatorLink:hover,a.ClearNavigatorLink:active{ color: #FF0000; font-weight: bold; font-size: 13px; text-decoration: none; }
.ClearButton { border-bottom: solid 1px #000000; border-left: solid 1px #000000; border-right: solid 1px #000000; border-top: solid 1px #000000; background-color: #EEEEEE; font-size: 13px; font-family: Tahoma, Verdana, Arial, Helvetica; font-weight: bold; }
.ClearInput { border-bottom: solid 1px #000000; border-left: solid 1px #000000; border-right: solid 1px #000000; border-top: solid 1px #000000; background-color: #FFFFFF; font-size: 13px; font-family: Tahoma, Verdana, Arial, Helvetica; }
.ClearTextarea { border-bottom: solid 1px #000000; border-left: solid 1px #000000; border-right: solid 1px #000000; border-top: solid 1px #000000; background-color: #FFFFFF; font-size: 13px; font-family: Tahoma, Verdana, Arial, Helvetica; }
.ClearSelect { font-size: 13px; font-family: Tahoma, Verdana, Arial, Helvetica; }
/* Calendar */
a.today:link,a.today:visited{ color: #FF0000; font-weight: bold; text-decoration: none; }
a.today:hover,a.today:active{ color: #000084; font-weight: bold; text-decoration: none; }
a.selectedDay:link,a.selectedDay:visited{ color: #000084; font-weight: bold; text-decoration: none; }
a.selectedDay:hover,a.selectedDay:active{ color: #FF0000; font-weight: bold; text-decoration: none; }
a.weekDay:link,a.weekDay:visited{ color: #000084; text-decoration: none; }
a.weekDay:hover,a.weekDay:active{ color: #FF0000; text-decoration: none; }
TD.selectedDay { background-color: #E7E7E7; color: #000000; font-size: 13px; }
TD.today { border-top: 1px solid #FF0000; border-left: 1px solid #FF0000; border-bottom: 1px solid #FF0000; border-right: 1px solid #FF0000; background-color: #FFFFFF; color: #000000; font-size: 13px; }
TD.workday { background-color: #FFFFFF; color: #000000; font-size: 13px; }
TD.weekend { background-color: #EEEEEE; color: #000000; font-size: 13px; }
TH.calendar { margin: 1px; background-color: #E7E7E7; color: #000084; font-size: 13px; font-weight: bold; }
.CalendarButtons { border-bottom: solid 1px #000000; border-left: solid 1px #000000; border-right: solid 1px #000000; border-top: solid 1px #000000; background-color: #EEEEEE; font-size: 13px; font-family: Tahoma, Verdana, Arial, Helvetica; font-weight: bold; }
.CalendarControls { font-family: Arial, Tahoma, Verdana, Helvetica; font-size: 13px; }
.Table { background-color: #DEDBDE; }

/* Calendar 3 */
.Calendar td{ padding: 3px; border-left: 1px solid #777777; width: 100%; white-space: nowrap; color: #000000; color: #000000; font-size: 80%; font-weight: bold; text-align: center; }
.Calendar img{ margin: 2px; vertical-align: middle; }
.CalendarWeekdayName{ padding: 3px; border: 1px solid #777777; border-right: 0px; white-space: nowrap; background-color: #F7F7F7; color: #000000; font-family: Tahoma; font-size: 80%; font-size: 80%; font-weight: bold; text-align: center; vertical-align: top; }
.CalendarWeekdayName a:link { color: #3662A5; }
.CalendarWeekdayName a:visited{ color: #8A8A8A; }
.CalendarWeekdayName a:hover, CalendarWeekdayName a:active{ color: #CC4141; }
.CalendarWeekendName{ padding: 3px; border: 1px solid #777777; border-right: 0px; white-space: nowrap; background-color: #ECECEC; color: #000000; font-size: 80%; font-weight: bold; text-align: center; vertical-align: top; }
.CalendarWeekendName a:link { color: #000000; }
.CalendarWeekendName a:visited{ color: #000000; }
.CalendarWeekendName a:link, CalendarWeekendName a:visited{ color: #CC4141; }
/* Calendar Day */
.CalendarDay{ border-left: 1px solid #777777; background-color: #F7F7F7; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarDay a:link { color: #3662A5; }
.CalendarDay a:visited{ color: #8A8A8A; }
.CalendarDay a:hover, CalendarDay a:active{ color: #CC4141; }
/* Calendar Weekend */
.CalendarWeekend{ border-left: 1px solid #777777; background-color: #ECECEC; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarWeekend a:link { color: #3662A5; }
.CalendarWeekend a:visited{ color: #8A8A8A; }
.CalendarWeekend a:hover, CalendarWeekend a:active{ color: #CC4141; }
/* Calendar Today */
.CalendarToday{ border-left: 1px solid #777777; border: 2px solid #777777; background-color: #F7F7F7; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarToday a:link { color: #3662A5; }
.CalendarToday a:visited{ color: #8A8A8A; }
.CalendarToday a:hover, CalendarToday a:active{ color: #CC4141; }
/* Calendar Weekend Today */
.CalendarWeekendToday{ border-left: 1px solid #777777; border: 2px solid #777777; background-color: #ECECEC; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarWeekendToday a:link { color: #3662A5; }
.CalendarWeekendToday a:visited{ color: #8A8A8A; }
.CalendarWeekendToday a:hover, CalendarWeekendToday a:active{ color: #CC4141; }
/* Calendar Weekday Today */
.CalendarWeekdayToday{ }
.CalendarWeekdayToday a:link { color: #3662A5; }
.CalendarWeekdayToday a:visited { color: #8A8A8A; }
.CalendarWeekdayToday a:hover, CalendarWeekdayToday a:active{ color: #CC4141; }
/* Calendar Other Month's Day */
.CalendarOtherMonthDay{ border-left: 1px solid #777777; background-color: #F7F7F7; color: #777777; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarOtherMonthDay a:link { color: #777777; }
.CalendarOtherMonthDay a:visited{ color: #777777; }
.CalendarOtherMonthDay a:hover, CalendarOtherMonthDay a:active{ color: #CC4141; }
/* Calendar Other Month's Today */
.CalendarOtherMonthToday{ border-left: 1px solid #777777; border: 2px solid #777777; background-color: #ECECEC; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarOtherMonthToday a:link { color: #777777; }
.CalendarOtherMonthToday a:visited{ color: #777777; }
.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{ color: #CC4141; }
/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend{ border-left: 1px solid #777777; color: #777777; background-color: #ECECEC; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarOtherMonthWeekend a:link { color: #777777; }
.CalendarOtherMonthWeekend a:visited{ color: #777777; }
.CalendarOtherMonthWeekend a:hover, CalendarOtherMonthWeekend a:active{ color: #CC4141; }
/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday{ border-left: 1px solid #777777; border: 2px solid #777777; color: #777777; background-color: #ECECEC; font-family: Tahoma; font-size: 80%; text-align: center; }
.CalendarOtherMonthWeekendToday a:link { color: #777777; }
.CalendarOtherMonthWeekendToday a:visited{ color: #777777; }
.CalendarOtherMonthWeekendToday a:hover, CalendarOtherMonthWeekendToday a:active{ color: #CC4141; }
/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{ border-left: 1px solid #777777; background-color: #D7D7D7; color: #000000; font-family: Tahoma; font-size: 80%; font-weight: bold; text-align: center; }
.CalendarSelectedDay a:link { color: #000000; }
.CalendarSelectedDay a:visited{ color: #000000; }
.CalendarSelectedDay a:hover, CalendarSelectedDay a:active{ color: #CC4141; }
/* Calendar Navigator */
.CalendarNavigator td { padding: 3px; white-space: nowrap; color: #000000; font-family: Tahoma; font-size: 80%; text-align: center; vertical-align: middle; vertical-align: top; }
.CalendarNavigator a:link { color: #3662A5; }
.CalendarNavigator a:visited{ color: #8A8A8A; }
.CalendarNavigator a:hover, CalendarNavigator a:active{ color: #CC4141; }
.CalendarNavigator img{ margin: 2px; vertical-align: middle; }
/* Calendar Extra */
.CalendarEvent{ font-family: Tahoma; font-size: 80%; }
.CalendarEvent a:link { color: #3662A5; }
.CalendarEvent a:visited{ color: #8A8A8A; }
.CalendarEvent a:hover, CalendarEvent a:active{ color: #CC4141; }
/* Root = Horizontal, Secondary = Vertical */
/* navmenu = 500px */

#nav {
    background-color: #000c4c;
}

/* estaba a 821 ancho gen de la pagina del contenido pero reducimos por los borde redondos */

/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
  margin: 0;
  border: 0 none;
  padding: 0;
  /*width: 608px; For KHTML*/
  list-style: none;
  height: 35px;
}

ul#navmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 35px;
}
ul#navmenu li a#first  {
padding-bottom: 12px;    /*espacio para nivel-1 menu - espacio bottom */
  color: #fff;
}

ul#navmenu ul {
  margin: 0;
  border: 0;
  padding: 0;
  width: 120px;
  list-style: none;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu ul li {
  width: 180px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  vertical-align: middle;
}

/* Root Menu */
ul#navmenu a {
  padding: 0 19px;
  padding-top: 10px;  /*quitar*/  
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #fff;
  font-family: Tahoma, Arial, Helvetica, Sans, Sans-serif 100%/22px; 
  /*For font:  100%/22px Arial, Verdana, Helvetica, sans-serif;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
vertical-align: middle;
font-size: 11px;
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  padding-bottom: 2px;    /*espacio para nivel-1 menu - espacio bottom */
  background: #000528;
  color:  #fdd700;
  padding-bottom: 12px;    /*quitar*/ 
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  float: none;
   background: #000528;
  color:  #fdd700;
  padding-top: 10px;  /*quitar*/ 
  padding-bottom: 15px; /*espacio para nivel-2 menu cortando el bottom  */
  height: 0px; /*espacio para nivel-2 menu  */
   border: 0px;
     width: 130px;
        border-bottom: 1px solid #fdd700;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  background: #00021a;
   padding-top: 10px;  /*quitar*/ 
  padding-bottom:15px; 
  color: #FFF;
   height: 0px; /*espacio para nivel-2 menu  */
      float: none;
       border-bottom: 1px solid #fdd700;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  width: 297px;
  border: 1px solid #e2e1e1;
  border-top-color: #fff;
  background: #eee;
  color: #4e4e4e;
  padding-bottom: 0px;  /*espacio para nivel-2 menu cortando el bottom  */
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  width: 297px;
  background: #f9a70b;
  color: #FFF;
  padding-bottom: 0px;   /*espacio para nivel-2 menu cortando el bottom  */
}


ul#navmenu ul ul,
ul#navmenu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 180px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}

a.lnkAddfam:link,a.lnkAddfam:visited {
float: left;
display: block;
color: #f48221;
text-decoration: none;
text-align: center;
line-height: 32px;
background: url(../../lib/ico_add.gif) no-repeat left;
padding-left: 20px;
}
a.lnkAddfam:hover {
color: #333;
}
