Options -Indexes
Options -ExecCGI 
#AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi 
<Files ^(*.gif|*.jpeg|*.jpg|*.png|*.pdf|*.doc|*.docx|*.xls|*.xlsx)>
order deny,allow
deny from all
</Files>
<Files ".ht*">
deny from all
</Files>
